<html>

<head>

	<title>VitaReminder</title>
	
	<style>
		
		h1, h2, h3, p
		{
			text-align:center;
		}
		
		table, th, td
		{
			border:1px solid black;
			text-align:center;
			font-size:8px;
			margin-left:auto;
			margin-right:auto;
		}
		
	</style>
	
</head>

<body>

	<h1>Active Reminders</h1>

	<br>
	
	#if ($regimensList.size() == 0)
	
	    <p>You have no active reminders.</p>
	    
	#else
	
		#foreach ($regimen in $regimensList)
        
	        <h2>$regimen.regimenName</h2>
	        
	        <table>
	        
	        	<tr>
	        		<th>Supplement Name</th>
					<th>Amount</th>
					<th>Units</th>
					<th>Take At</th>
					<th>E-Mail</th>
					<th>Text</th>
					<th>Voice</th>
				</tr>
				
				#foreach ($supplement in $regimen.supplements)
				
					<tr>
						<td>$supplement.suppName</td>
						<td>$supplement.getFormattedAmount()</td>
						<td>$supplement.suppUnits</td>
						<td>$supplement.getFormattedTime()</td>
						
						#if ($supplement.emailEnabled)
						    <td>x</td>
						#else
						    <td></td>
						#end
						
						#if ($supplement.textEnabled)
						    <td>x</td>
						#else
						    <td></td>
						#end
						
						#if ($supplement.voiceEnabled)
						    <td>x</td>
						#else
						    <td></td>
						#end
					</tr>
				
				#end
	        
	        </table>
        
        	<br>
        	<br>
    
  		#end
	        
	#end
	
</body>
  	
</html>
